html {background: #0C0019;}
.container {
	display:flex;
	align-items: center;
	justify-content: center;
}
#redblocks > * {
    transform: translate3d(160px, -93px, 0);
    animation: moveblocks 4s 1s ease infinite;
}


 